.notification{
    margin-right: 70%;
}

.profile{
    width: 20%;
    height: 60%;
    border-radius: 50%;
    margin-left: 10px;
}

.notificationProfile{
    margin-left: 85%;
}

.text-style {
    margin-left: 20px;
    color: black !important;
    font-weight: bold !important;
  }

.headerIcon{
    margin-left: 80px;
}  